# created with python 3.10.4
# last tested on 3.11.2

# archiver, compare_backups
charset_normalizer==2.0.12

# download_vk_albums
pyexiv2==2.8.1
vk_api==11.9.9

# video_downloader, stream_recorder
# also install ffmpeg
yt-dlp
