!--    __  __   ______   ______   ______   ______   __  __   ______   ______   ______   ______      --!
!--   /\_\_\_\ /\  == \ /\  ___\ /\  ___\ /\  __ \ /\ \/\ \ /\  == \ /\  ___\ /\  ___\ /\  ___\     --!
!--   \/_/\_\/_\ \  __< \ \  __\ \ \___  \\ \ \/\ \\ \ \_\ \\ \  __< \ \ \____\ \  __\ \ \___  \    --!
!--     /\_\/\_\\ \_\ \_\\ \_____\\/\_____\\ \_____\\ \_____\\ \_\ \_\\ \_____\\ \_____\\/\_____\   --!
!--     \/_/\/_/ \/_/ /_/ \/_____/ \/_____/ \/_____/ \/_____/ \/_/ /_/ \/_____/ \/_____/ \/_____/   --!
!--                                                                                                 --!

! Fonts
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Cursor
Xcursor.theme:  Bibata-Modern-Classic
Xcursor.size:   22
